#options {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fancy {
    font-family: cursive;
    font-size: 20px;
    color: darkblue
}

.bubbly {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: hotpink;
}

.professional {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black
}

.secretive {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: bisque;
}

.magical {
    font-family: fantasy;
    font-size: 20px;
    color: darkgreen;
}