#coinCount {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#buttons {
    display: flex;
    justify-content: flex-end;
}

#lever #reset{
    margin-top: 20px;
}

#machine {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
}

#img1 {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    transition: background 0.3s linear;
}

#img2 {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    transition: background 0.3s linear;
    border-style: none solid none solid;
    border-width: 2px;
    border-color: gray;
}

#img3 {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    transition: background 0.3s linear;
}

.apple {
    background-image: url('images/apple.jpg');
}

.avocado {
    background-image: url('images/avocado.jpg');
}

.blackberry {
    background-image: url('images/blackberry.jpg');
}

.blueberry {
    background-image: url('images/blueberry.jpg');
}

.cherry {
    background-image: url('images/cherry.jpg');
}

.lime {
    background-image: url('images/lime.jpg');
}

.pineapple {
    background-image: url('images/pineapple.jpg');
}

.strawberry {
    background-image: url('images/strawberry.jpg');
}

